<head>
    <title>Error</title>
</head>
<body>
    <h2 class="display-4">Algo salió mal</h2>
    <p>
        Hubo un problema con su tarjeta, la misma no existe o se encuentra bloqueada.
        Le pedimos que vuelva atrás y reingrese su número, verificando que sea correcto y que la misma no esté bloqueada.
    </p>

    <center>
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Volver atrás</a>
    </center>
</body>
